<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--This is the configSections settings, it allows custom sections to be added-->
    <section name="websites" type="System.Configuration.NameValueSectionHandler"/>
    <section name="lookingfilters" type="System.Configuration.NameValueSectionHandler"/>
    <section name="guildfilters" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>

    <add key="ForumNodeQuery" value="//a[contains(@class, 'ForumTopic')]"/>
    <add key="ChildNodeQuery" value=".//span[@class='ForumTopic-title']"/>
    <add key="ToolTipQuery" value="data-tooltip-content"/>
    <add key="ForumIDQuery" value="data-forum-topic"/>
    <add key="XMLDir" value="C:\Data\TestOut\ForumPosts.xml"/>

    <add key="EmailFrom" value="^ž°˜¹¯¿¢ÄŸ´¡Åv¾¤ºž¶d¯¦»"/>
    <add key="EmailTo" value="sdguildrecruitment@gmail.com"/>
    <add key="EmailPW" value="^œ°ª~jj„"/>
    <add key="EmailSubject" value="AutoForumReader: "/>

    <add key="LogFolder" value="C:\Data\TestOut" />
    <add key="LogName" value="AFR_SERVER_LOG" />
    <add key="LogJob" value="True" />
    <add key="LogTypeDebug" value="True" />
    <add key="LogFileExtention" value="log" />

  </appSettings>

  <websites>

    <add key="WebsiteURL1" value ="https://us.battle.net/forums/en/wow/1182541/"/>
    <add key="WebsiteURL2" value ="https://us.battle.net/forums/en/wow/1011639/"/>
    <add key="WebsiteURL3" value ="https://us.battle.net/forums/en/wow/1182274/"/>
    
  </websites>

  <lookingfilters>

    <add key="F1" value =".*\bLF\b.*\bGUILD\b.*"/>
    <add key="F2" value =".*\bLFG\b.*"/>
    <add key="F3" value =".*\bDPS\b.*\bLFG\b.*"/>
    <add key="F4" value =".*\bLFGUILD\b.*"/>
    <add key="F5" value =".*\bLF\b.*\bHOME\b.*"/>
    <add key="F6" value =".*\bLFHOME\b.*"/>
    <add key="F7" value =".*\bNEW\b.*\bTO\b.*"/>
    <add key="F8" value =".*\bLF\b.*\bRAID\b.*"/>
    <add key="F9" value =".*\bLOOKING\b.*\bGUILD\b.*"/>
    <add key="F10" value =".*\bLF\b.*\bMYTHIC\b.*"/>
    <add key="F11" value =".*\bLOOKING\b.*\bMYTHIC\b.*"/>
    <add key="F12" value =".*\bLOOKING\b.*\bRAIDING\b.*"/>
    
  </lookingfilters>

  <guildfilters>

    <add key="G1" value =".*\bRECRUITING\b.*"/>
    <add key="G2" value =".*\bLFM\b.*"/>
    <add key="G3" value =".*\bLOOKING\b.*\bFOR\b.*\bDPS\b.*"/>
    <add key="G4" value =".*\bLF\b.*\bRAIDERS\b.*"/>
    <add key="G5" value =".*\bLF\b.*\bDPS\b.*"/>

  </guildfilters>
  
</configuration>